<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> The title is <%= @title %></h1>
    <p>
    <p>
      To see the thread and comment on it, just follow this link: <%= @url %>.
    </p>
  </body>
</html>